/*
Colors
Green: #43BC46
Blue: #4643BC
Red: #BC4643
*/

/* typography */
h1 {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.25em;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-family: 'Orienta', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

#h2center {
  font-family: 'Orienta', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-family: 'Orienta', sans-serif;
  font-size: 1em;
  font-weight: 700;
}

/* layout styling */
header {
  background-color: #ccfec1;
  padding: 10px 0 4px;
  margin: 10px;
  border-bottom: 3px solid #31ce32;
  position: relative;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  display: inline-block;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 5px 0;
  text-align: right;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  padding-right: 10px;
  right: 0;
  top: 8px;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

main {
  padding-top: 10px;
}

body {
  background-color: #fff;
  font-family: 'Overpass', sans-serif;
  line-height: 1.25em;
  font-size: 16px;
  font-weight: 300;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 24px 0;
}

.subrow {
  margin: 24px 0;
}

#work .row {
  padding-bottom: 25px;
}

#hero {
  background-color: #d0f2f5;
  text-align: center;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
  margin: 0;
}

#hero span {
  display: block;
}

#contact {
  background-color: #ccfec1;
  text-align: center;
  padding: 15px;
  margin: 10px;
  width: 100%;
}

.contact_row {
  margin: 16px 0;
}

.logo {
  max-width: 150px;
}

.icon {
  padding: 0 2px;
}

/* images */
img {
  width: 100%;
}

#steaming_pot {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* links */
a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
  transition-duration: 0.2s;
}

a:hover,
a:focus {
  color: #10f;
  text-decoration: underline;
  opacity: 0.8;
}

a:active {
  color: #4643bc;
  text-decoration: none;
}

/* buttons */
.button,
.button:visited {
  display: inline-block;
  background-color: #43bc46;
  color: #000;
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #43bc46;
  transition-duration: 0.2s;
}

.button:hover,
.button:focus,
.button:active {
  display: inline-block;
  color: #000;
  text-decoration: none;
  transition-duration: 0.2s;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

/* animations&colors */
@keyframes color-change {
  from { fill: #014463; }
  to { fill: #ee1115; }
}

@keyframes line-move {
  from { transform: translate(0, 0); }
  to { transform: translate(80px, 0); }
}

@keyframes dot-move {
  from { transform: translate(0, 0); }
  to { transform: translate(80px, 0); }
}

.steam-long,
.steam-short,
.steam-dot {
  animation-duration: 1s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.pot-line {
  animation-duration: 5s;
  animation-name: line-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.pot-dot {
  animation-duration: 5s;
  animation-name: dot-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
    padding: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .logo {
    max-width: 250px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }
}
